:root {
  --background: #fff;
  --background-dark: #121212;
  --text: #000;
  --text-light: #fff;
}

body {
  margin: 0;
  background-color: var(--background-dark);
  background-image: url('/static/assets/imgs/homepage_background.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p, a, li, label, input {
  color: var(--text);
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  background-color: var(--background);
  z-index: 10;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav a {
  height: 44px;
  padding: 0 auto;
  display: inline-block;
  display: flex;
  align-items: center;
}

nav ul section {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

header .logo {
  position: relative;
  max-height: 44px;
  width: 30%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: max-height .1s ease-in-out;
}

header .logo img {
  height: 100%;
  max-width: 100%;
}

header .logo.expanded {
  max-height: 150px;
}

header .logo.expanded img {
  width: 100%;
  height: auto;
  margin: 3px;
}

main {
  margin-top: 170px;
  width: 100%;
}

main > * {
  width: 80%;
  margin: 0 auto;
}

main section.title {
  width: 50%;
  margin: 8em auto;
}

main section.title .logo {
  width: 100%;
  filter: invert(1);
}

main section.title p {
  font-size: 2em;
  margin-top: 1em;
  color: var(--text-light);
  text-shadow: 2px 2px #00000080;
}

main section.floating-p {
  width: 100%;
  margin: 40vh 0;
}

main section.floating-p > * {
  width: 30%;
  color: var(--text-light);
}

main section.floating-p > p {
  font-size: 1.5em;
}

main section.floating-p > h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

main section.floating-p.left > * {
  margin-right: auto;
}

main section.floating-p.right > * {
  margin-left: auto;
}

main article.content {
  width: 80%;
  padding: 5em 10%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 4em;
}

main article.content > section {
  width: 100%;
}

.standard-p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.standard-p > div {
  width: 45%;
}

.standard-p img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.standard-p.reverse {
  flex-direction: row-reverse;
}

footer {
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

footer section {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}