:root {
  --background: #fff;
  --text: #000;
}

body {
  margin: 0;
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p, a, li, label, input {
  color: var(--text);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  background-color: var(--background);
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav a {
  height: 44px;
  padding: 0 auto;
  display: inline-block;
  display: flex;
  align-items: center;
}

nav ul section {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

header .logo {
  position: relative;
  max-height: 44px;
  width: 30%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: max-height .1s ease-in-out;
}

header .logo img {
  height: 100%;
  max-width: 100%;
}

header .logo.expanded {
  max-height: 150px;
}

header .logo.expanded img {
  width: 100%;
  height: auto;
  margin: 3px;
}

main {
  margin-top: 170px;
}