.top-title {
    background: var(--background-dark) url('assets/imgs/opening_hours_background.webp')
              center / cover no-repeat;
}

.slim > * {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.slim ul {
    list-style-type: none;
    font-size: 1.2em;
}

@media (max-width: 1079px) {
    .slim {
        padding: 0;
    }

    .slim > * {
        width: 70%;
    }
}

@media (max-width: 670px) {
    .slim > * {
        width: 100%;
    }

    .slim ul {
        padding: 1em 0;
    }

    .slim p {
        width: 90%;
        margin: 5%;
    }
}