.top-title {
    background: var(--background-dark) url('../imgs/recipes_background.webp')
              center / cover no-repeat;
}

.recipes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 3em 2vw;
    align-items: stretch;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.recipe-card {
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card h2,
.recipe-card p {
    margin: .5em 1em;
}

.recipe-card h2 {
    font-size: 1.5em;
    text-align: center;
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1em;
}

@media (max-width: 1079px) {
    .recipes-grid {
        width: 96%;
        padding: 1em 0;
        gap: 1em;
        justify-content: space-around;
    }
}

@media (max-width: 670px) {
    .recipes-grid {
        width: 100%;
        padding: 1em 0;
    }

    .recipe-card {
        width: 96%;
        margin: 0 auto;
    }
}