body {
    background: var(--background-dark) url('../imgs/homepage_background.png')
              center / cover scroll no-repeat;
}

/* --- Floating Paragraphs --- */
main section.floating-p {
  width: 100%;
  margin: 40vh 0;
}

main section.floating-p > * {
  width: 30%;
  color: var(--text-light);
}

main section.floating-p > p {
  font-size: 1.5em;
}

main section.floating-p.left > * {
  margin-right: auto;
}

main section.floating-p.right > * {
  margin-left: auto;
}

main section.floating-p > h2 {
  margin-bottom: 0.5em;
  font-size: 2em;
}

main section.floating-p a {
    color: var(--text-light);
}

main section.floating-p a:hover {
    color: var(--link-highlight);
}

@media (max-width: 1079px) {
  main section.floating-p > * {
    width: 50%;
  }
}

@media (max-width: 670px) {
  main section.floating-p > * {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  main section.floating-p > * {
    width: 100%;
    text-align: center;
  }
}
